.clickableCard:hover{
    cursor: pointer;
    background-color: var(--bs-tertiary-bg);
}

.row:has(.col > .clickableCard:hover) > .col:not(:hover){   
    filter: brightness(0.8);
}

.col:has(> .clickableCard){
    transition-duration: 700ms;
}


.description-box{
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}